html, body {
	background-color: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* スクロールバーを非表示にする */
	width: 100%;
	height: 100%;
}
canvas {
	display: block;
	margin: 0px auto;
	z-index: 1;
}

/*sub.jsのaddLog用だけど、chat.cssがあるので未使用
.log {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: sans-serif;
	border-radius: 4px;
}*/

#debugInfo {
	position: fixed;
	top: 10px;
	left: 10px;
	background: rgba(0, 0, 0, 0.7);
	color: #0f0;
	font-family: monospace;
	font-size: 12px;
	padding: 10px;
	border-radius: 6px;
	white-space: pre;
	pointer-events: none;
	z-index: 999;
}

/* ==========================================================================
   読み込み画面
   ========================================================================== */

/* 全面を覆うロード画面 */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: opacity 0.5s ease;
	/* スムーズに消える演出 */
}

.loading-content {
	text-align: center;
	width: 80%;
	max-width: 300px;
}

.progress-bar-bg {
	width: 100%;
	height: 12px;
	background-color: #333;
	border-radius: 6px;
	overflow: hidden;
	margin-top: 10px;
}

#progress-bar {
	width: 0%;
	height: 100%;
	background-color: #4caf50;
	transition: width 0.1s ease;
}