/* ==========================================================================
リサイズ用
 ==========================================================================
*/
.resize-handle {
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 10;

	/*スマホのスクロール等のジェスチャーに横取りされないようにする */
	/*touch-action: none;*/
}
/*上*/
.resize-handle.n {
	top: 0;
	left: 12px;
	right: 12px;
	height: 12px;
	width: auto;
	cursor: n-resize;
}
/*下*/
.resize-handle.s {
	bottom: 0;
	left: 12px;
	right: 12px;
	height: 12px;
	width: auto;
	cursor: s-resize;
}
/*左*/
.resize-handle.w {
	left: 0;
	top: 12px;
	bottom: 12px;
	width: 12px;
	height: auto;
	cursor: w-resize;
}
/*右*/
.resize-handle.e {
	right: 0;
	top: 12px;
	bottom: 12px;
	width: 10px;
	height: auto;
	cursor: e-resize;
}
/*左上*/
.resize-handle.nw {
	top: 0;
	left: 0;
	cursor: nw-resize;
}
/*右上*/
.resize-handle.ne {
	top: 0;
	right: 0;
	cursor: ne-resize;
}
/*左下*/
.resize-handle.sw {
	bottom: 0;
	left: 0;
	cursor: sw-resize;
}
/*右下*/
.resize-handle.se {
	bottom: 0;
	right: 0;
	cursor: se-resize;
}